<h2>Countries list</h2>
<app-favorite-list></app-favorite-list>

<div class="now">
  <div class="country-card" *ngFor="let one_country of country | async">
    <button routerLink="/country/{{ one_country.name }}">


      <div>{{ one_country.name }}

      </div>


    </button>

    <app-favorites  [isFavorite]="isFavorite"
      [country]="one_country"> </app-favorites>

  </div>
</div>


<div class="country-card">
  <div *ngIf="name | async as country">
    <h2>{{ country.name }}</h2>
    <div>
      Area: {{ country.area }}


      <div *ngIf="country.independent == true"> Independent </div>
      <div *ngIf="country.independent == false"> Dependent </div>

    </div>
  </div>
