<div class="now" >
    
<div class="country-card" *ngFor="let one_country of country | async" routerLink="/country/{{ one_country.name }}">
    
   
    <div  >{{ one_country.name }}</div>
    <app-favorites (clickedFavorite)="addToFavorite()" [isFavorite]="isFavorite"></app-favorites>

</div>
</div>
<div >
    <div  style="background-image:url('assets/asia.png');background-size:cover"> </div>
<div  *ngIf="name | async as country">  {{ country.name }} <div>
    Country Area: {{ country.area }} 


    <div  *ngIf="country.independent == true"> Independent </div>
    <div *ngIf="country.independent == false"> Dependent </div>

</div>
</div>