<!DOCTYPE html>
<html>


  <body>
    <header>
      <div class="menu">
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a routerLink="/countries">Countries List</a></li>
            <li><a routerLink="/regions">Browse by region</a></li>
            <li><a routerLink="/list">View Favorite List</a></li>
            <li> <app-search> Search by area </app-search></li>

          </ul>
        </nav>
      </div>
    </header>
    <router-outlet></router-outlet>
  </body>

</html>