html, body { height:100%; }

.flexbox {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.fav-btn {
	display:flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}


@keyframes favme-anime {
  0%   {
		opacity: 1;
		font-size: ms(0);
		-webkit-text-stroke-color: transparent;
	}
	25%	 {
		opacity:.6;
		color: red;
		font-size: ms(-2);
		-webkit-text-stroke-width: 1px;
   	-webkit-text-stroke-color: #DC3232;
	}
	75%	 {
		opacity:.6;
		color: #FFF;
		font-size: ms(3);
		-webkit-text-stroke-width: 1px;
   	-webkit-text-stroke-color: #DC3232;
	}
  100% {
		opacity: 1;
		font-size: ms(2);
		-webkit-text-stroke-color: transparent;
	}
}

@keyframes favme-hover {
	from {
		font-size: ms(3);
	}
	80% {
		font-size: ms(2);
	}
}

.favme {
	display:block;
	font-size: ms(2);
	width: auto;
	height: auto;
	cursor: pointer;
	box-shadow: none;
	transition: all .2s ease;
	color: red;
	margin: 0;

	&.active {
		color: #DC3232;
	}
	&:hover {
		animation: favme-hover .3s infinite alternate;
	}
	&.is_animating {
		animation: favme-anime .3s;
	}
}
///
.favorite{
  color: red;
}
.favorite-icon {
    color: red;
    place-content: center;
    width: 50px;
    height: 50px;

    mat-icon {
        width: 24px;
        height: 24px;
        z-index: 1;
    }

    &.medium {
        width: 24px;
        height: 24px;

        mat-icon {
            width: 24px;
            height: 24px;
        }
    }

    &.big {
        width: 36px;
        height: 36px;

        mat-icon {
            width: 36px;
            height: 36px;
        }
    }

    &:not(.favorite):hover {
        color:  #7FFFD4;
    }

    .hearts {
        position: absolute;
        height: 500%;
        width: 500%;
        left: -50%;
        top: -50%;
        overflow: visible;
    }

    .left-hearts>*,
    .right-hearts>* {
        opacity: 0;
        transition: 0.2s ease;
    }

    .favorite {
        color: green;

        &::before,
        &::after {
            content: "";
            display: grid;
            border-radius: 100%;
            position: absolute;
            outline: 5px solid green;
            height: 200%;
            width: 200%;
            left: -50%;
            top: -50%;
            animation: scalePulse 0.5s cubic-bezier(0.12, 0.84, 0.5, 0.44) forwards;
        }

        &::after {
            opacity: 1;
            transform: scale(0);
            animation-delay: 0.2s;
        }

        .left-hearts>*,
        .right-hearts>* {
            transform-origin: center center;
            animation: floatingHearts 0.65s cubic-bezier(0.12, 0.84, 0.5, 0.44) forwards;
        }

        .right-hearts {
            g:first-child {
                animation-delay: 0.3s;
            }

            g:last-child {
                animation-delay: 0.1s;
            }
        }

        .left-hearts {
            g:first-child {
                animation-delay: 0.2s;
            }

            g:last-child {
                animation-delay: 0.5s;
            }
        }
    }

    &:not(.favorite) {
        mat-icon {
            animation: shake .4s;
        }
    }

    @keyframes floatingHearts {
        0% {
            opacity: 0;
            transform: translateY(10px);
        }

        50% {
            opacity: 0.5;
        }

        100% {
            opacity: 0;
            transform: translateY(-50px);
        }
    }

    @keyframes scalePulse {
        from {
            transform: scale(0);
        }

        to {
            transform: scale(1.1);
            opacity: 0;
        }
    }

    @keyframes shake {
        0% {
            transform: translateX(0) rotate(0deg);
        }

        30% {
            transform: translateX(-2px) rotate(-2deg);
        }

        60% {
            transform: translateX(2px) rotate(2deg);
        }

        90% {
            transform: translateX(-1px) rotate(-2deg);
        }

        100% {
            transform: translateX(0) rotate(0deg);
        }
    }
}
