<!-- <a   class="favorite-icon"  matTooltipShowDelay="300" [ngClass]="{'favorite': isFavorite, 'small': size === 'small', 'medium': size === 'medium', 'big': size === 'big'}"> -->
<!-- <mat-icon svgIcon= (click)="favorite()"></mat-icon> -->



  <script src="./favorites.js"></script>
  <div class="fav-btn">
    <mat-icon class="favme dashicons dashicons-heart" aria-hidden="false" (click)="favorite()"
      matTooltip="{{isFavorite ? 'Remove from Your Library' : 'Save to Your Library'}}"
      [ngClass]="isFavorite ? 'favorite-filled' : 'favorite'"
      fontIcon="{{isFavorite ? 'favorite-filled' : 'favorite'}}"></mat-icon>

  </div>
